html {
  font-size: clamp(10px, calc(1vw + 1vh), 18px);
}

@media (max-aspect-ratio: 0.8/1) and (max-width: 768px) {
  html {
    font-size: clamp(12px, 4vh, 16px);
  }
}

@media (max-aspect-ratio: 0.8/1) and (min-width: 769px) {
  html {
    font-size: clamp(14px, 5vh, 20px);
  }
}

@media (min-aspect-ratio: 0.8/1) and (max-aspect-ratio: 1.2/1) and (max-width: 1024px) {
  html {
    font-size: clamp(11px, calc(2vw + 2vh), 18px);
  }
}

@media (min-aspect-ratio: 0.8/1) and (max-aspect-ratio: 1.2/1) and (min-width: 1025px) {
  html {
    font-size: clamp(13px, calc(2.5vw + 2.5vh), 20px);
  }
}

@media (min-aspect-ratio: 1.2/1) and (max-width: 1440px) {
  html {
    font-size: clamp(10px, 4vw, 18px);
  }
}

@media (min-aspect-ratio: 1.2/1) and (min-width: 1441px) {
  html {
    font-size: clamp(12px, 5vw, 22px);
  }
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

.asya-container {
  --padding-left: 12px;
  --padding-right: 12px;
  --padding-top: 24px;
  --padding-bottom: 24px;

  height: 100%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: var(--row-gap);
  padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);
}

.asya-title-container {
  /* background-color: burlywood !important; */
  width: 100%;
  order: 1;
  font-size: 2.5rem;
}

.asya-progress-container {
  /* background-color: darkslategray !important; */
  width: 100%;
  order: 2;
}

.asya-description-container {
  /* background-color: darkseagreen !important; */
  width: 100%;
  order: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  overflow: auto;
  font-size: 1.5rem;
}

.asya-children-container {
  /* background-color: darkturquoise !important; */
  order: 4;
  // font-size: calc(var(--font-size) * 0.7) !important;
  font-family: var(--font-family) !important;
}

.asya-controls-container {
  /* background-color: darkviolet !important; */
  width: 100%;
  order: 5;
  box-sizing: border-box;
  padding-top: calc(var(--spacing-unit) * 2);
}